<template name="pizzas">

    <div class="post">
        <div class="postsList">

            {{#each pizzas}}
                <br><img src="/images/{{image}}" alt="" height="100px">
                <h2> {{name}}</h2>
                <h3>
                    <span> {{description}}</span>
                    <br><br>
                    <span> {{price}}€</span>
                    <span> <input type="number" name="" value="" class="">
          <input class="btn waves-effect waves-light" type="submit" name="action">
                <i class="material-icons right">send</i>></span><br><br>
                </h3>
            {{/each}}


        </div>
    </div>
</template>
