<template name="categorieItem">
    <div class="categories">
        <div class="categoriesList">
            <h3>
                <div class="row">
                    <div class="col-lg-12">
                <img style="height: 150px; width:150px;" src="/images/{{image}}">
                    </div>
                    <div class="col-lg-12">
                <a href="/categories/{{title}}" class="discuss btn btn-primary">voir la carte</a>
                {{title}}<span></span>
                    </div>
                </div>
            </h3>
        </div>

    </div>
</template>